<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h3>About This Application</h3>

        <p>I am Ifeanyichukwu Kemdinachi Lyonnet, C.E.O Kymsoft Inc. I hail from Amafor Nkalu Autonomous Community, Ifakala, Mbaitoli L.G.A. of Imo State, Nigeria. I was born on the 16th of February, 2004 (18 years). I attended Dority International Early Learning Schools, Aba. I am currently an undergraduate at the prestigious Babcock University, Ilishan-Remo, Ogun State, Nigeria.

          I began my coding journey in the year 2019 at the age of 15 and has currently covered much grounds to work professionally as a programmer as well as a web developer with 3 staunch years of experience and skill acqusition.

          With various certificates to prove my experience, I work with diligence and integrity. "Every entrepreneur has a brain box of ideas, each idea is a brick that shapes greatness..." ~Lyonnet (2022)</p>

      </div>
    </div>
  </div>
</div>
