<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm card-first">
      <div class="card-body">
        <h2>{{ "menu.achievements"}}</h2>

        <div *ngIf="lang == 'en'">
          <p>
            The expertise of A.M. Web Expert Inc. has enabled us to deliver
            several large-scale projects and mobile applications distributed to
            hundreds of thousands of users.
          </p>

          <p>{{ 'menu.technologies' }}</p>

        <ul>
          <li>HTML5, Angular, CSS3, RxJS</li>
          <li>MERN - MongoDB, ExpressJs, ReactJs, NodeJs</li>
          <li>C++, Python, Javascript</li>
          <li>Cordova, AppJs, ReactNative, </li>
        </ul>

        <p>Achievements as a Developer</p>

        <ul>
          <li>Nigerian Television Authority (NTA) National Art,
            Science and Technology Exhibition Certificate
            Oct 2019</li>
          <li>Certificate of Participation
            Google UI/UX Design Nov2022</li>
          <li>Full Stack Development with MERN stacks
            Coursera Certificate of Completion on Full Stack Development with React at
            Hong-Kong University of Science and Technology coursera.org
            </li>
            <li>Front-End Web UI Tools and Frameworks:
              Bootstrap5 and Angularjs
            </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

